body{
    background-color: #4b3875;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-size: 28px!important;
}
.container{
    max-width: fit-content;
    min-width: 450px;
    margin: 10% auto;
    display: flex;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.interface{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

#break-label{    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#session-label{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-grp{
    display: flex;
    justify-content: space-around;
}

#time-left{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 96px;
}